* {
    padding: 0;
    margin: 0;
    font-family: "Martel Sans", sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/IN-en-20250224-TRIFECTA-perspective_3a9c67b5-1d1d-49be-8499-d179f6389935_large.jpg");
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
}

.box {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    z-index: 1;
}

nav { 
    display: flex;   
    height: 10vh;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

nav img{
    height: 40px;
    z-index: 10;
    position: relative;
}

nav button {
    z-index: 10;
    position: relative;
}

nav div > :first-child {
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 4px 24px;
    line-height: 1;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 4px;
}

nav div > :first-child img {
    filter: invert();
    height: 16px;
    margin-right: 8px;
}

nav div > :nth-child(2) {
    box-sizing: border-box;
    background-color: red;
    color: white;
    border: rgb(229, 9, 20);
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
    padding: 4px 16px;
    border-radius: 4px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.hero {
    position: relative;
    top: -75px;
    z-index: 10;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    gap: 20px;
}

.hero > :first-child {
    font-size: 56px;
    font-weight: 900;
    line-height: 70px;
    width: 50%;
}

.hero > :nth-child(2) {
    font-size: 20px;
    font-weight: 500;
}

.hero > :nth-child(3) {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.hero div input {
    background-color: transparent;
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid rgb(63, 63, 63);
    width: 360px;
    border-radius: 4px;
}

.hero div button {
    box-sizing: border-box;
    background-color: red;
    color: white;
    border: rgb(229, 9, 20);
    font-size: 24px;
    font-weight: 800;
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 4px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.hero div button img {
    filter: invert();
}

.catalogue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin: auto;
    margin-top: 25px;
}

.catalogue p {
    display: inline;
    width: 100%;
    text-align: left;
    font-weight: 800;
    font-size: 24px;
    color: white;
}

.catalogue .slider  {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 34px;
    margin: 16px;
}

.movies {
    height: 252px;
    width: 180px;
    border-radius: 8px;
    cursor: pointer;
}

.slider :nth-child(1) {
    background-image: url("assets/AAAABcBQAzZgCcAJyLKGf0x3EjJHKr1h1oCRUQDfVspaHXampP-RjiOkIRlWBz7ViFOvUI1EdPSRcxoOPmB7paPLi52W4OmQZJ4NDMQ.webp");
}

.slider :nth-child(2) {
    background-image: url("assets/AAAABcJkAYihjBQ5SjWbwydLdZE8Dm1cJ0whRc21AEIS4V0VO8w65lEDAW5gwzTFTUuNqVTgBcgucwr6rMeRHra3xlru9n1CCtfOm1s.webp");
}

.slider :nth-child(3) {
    background-image: url("assets/AAAABdKcj7P_7NVs_wg8SeQgAWxqAjcgAesRIAMFFJsAoppNwhGuhmK-xjO5Mmtq9j5GDU_ybJQb4YvRRZWFPITs9mbQgQT6KYKjuaCn2Q5AI_jN3NxOMlU1tUa_uReZkMRibMQC.webp");
}

.slider :nth-child(4) {
    background-image: url("assets/AAAABexxJ7CuzN9sn4oXmDXsOPWU4dalTxyPYB7mIcyBrXl-dNeHcSB1yT4BinjKzhXgVpBdRVm4GSA3X7NyZEIkGbm40jcHE4hYKJyPYK7YN660ARcEsF57PrIPsalxMtfHnlur.webp");
}

.slider :nth-child(5) {
    background-image: url("assets/AAAABQEjp9ueTlnQ1xATRqIjTaiiheYDVq5KfZOz48z4T_qmQeqC50gcJF3BTp7rHYOQy0LRLkuo11BBHA30G1siL7TAG_85dAgvguY.webp");
}

.slider :nth-child(6) {
    background-image: url("assets/AAAABScSAnI47ovoETcYBhKCILXN91D3uCQTeh3aG24EF1iRpP7YNh86hK0eF8JkfKAzdNYZcjcvLy4UB_BpSQgg2AcvjjRMpP6A8C0.webp");
}

.tiles {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 34px;
    margin: 16px;
}

.tile {
    width: 294px;
    height: 278px;
    background: linear-gradient(
        149deg,
        #192247 0%,
        #210e17 99.08%
    );
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 8px;
    position: relative;
}

.tile :nth-child(1) {
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.tile :nth-child(2) {
    color: gray;
    font-weight: 400;
    font-size: 16px;
}

.tile img {
    width: 72px;
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.movies:hover{
    transition-property: transform;
    transition-duration: 175ms;
    transition-timing-function: ease-out;
    transform: scale(1.07);
}

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin: auto;
    margin-top: 25px;
}

.head {
    display: inline;
    width: 100%;
    text-align: left;
    font-weight: 800;
    font-size: 24px;
    color: white;
}

.questions {
    background-color: rgb(45, 45, 45);
    margin: 5px;
    padding: 24px;
    color: white;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.questions img {
    filter: invert();
}

.questions:hover {
    transition-property: background-color;
    transition-duration: 150ms;
    transition-timing-function: ease-in;
    background-color: rgb(70, 70, 70);
}

.emailsection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    gap: 12px;
}

.emailsection span {
    color: white;
}

.emailsection div input {
    background-color: transparent;
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid rgb(63, 63, 63);
    width: 562px;
    border-radius: 4px;
}

.emailsection div button {
    box-sizing: border-box;
    background-color: red;
    color: white;
    border: rgb(229, 9, 20);
    font-size: 24px;
    font-weight: 800;
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 4px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.emailsection div button img {
    filter: invert();
}

footer {
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 34px;
    width: 80vw;
    margin: auto;
}

footer span {
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}

footer button {
    background-color: transparent;
    display: inline;
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 4px 24px;
    line-height: 1;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 4px;
    display: flex;
    gap: 10px;
}

footer button img {
    filter: invert();
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 295px);
}

.grid a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    line-height: 21px;
}

.blank {
    height: 10vh;
}